{% extends "email/_base.html" %}
{% block content %}
<tr><td class="body">
  <h2>Booking Confirmed</h2>
  <p>Hi {{ name }},</p>
  <p>Your service booking has been confirmed.</p>
  <table class="details" cellpadding="0" cellspacing="0">
    <tr><td class="lbl">Booking ID</td><td class="val">#{{ booking_id }}</td></tr>
    <tr><td class="lbl">Date &amp; Time</td><td class="val">{{ date_time }}</td></tr>
    <tr><td class="lbl">Location</td><td class="val">{{ location }}</td></tr>
  </table>
  <p>Please arrive on time. Thank you for choosing AutoMatik!</p>
</td></tr>
{% endblock %}
